@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assets/Images/Image1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1800px, 100vw);
    height: 95vh;
    position: relative;
}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: rgb(229, 9, 20);
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :first-child {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.separation {
    height: 2px;
    background-color: rgb(163, 40, 40);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.red1 {
    padding: 4px 16px;
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

.red2 {
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 1.125rem;
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    font-weight: 500;
}

.main input {
    margin-top: 16px;
    padding: 11px 18px;
    padding-right: 65px;
    font-size: 1.125rem;
    border: 1.5px solid gray;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 10;
}

.english {
    padding: 6px 34px;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text {
    color: white;
    font-family: 'Martel sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 25px;
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
}

.img3 {
    border-radius: 15px;
}

.reason {
    display: flex;
    gap: 15px;
    height: 50vh;
    width: 85vw;
    margin: auto;
    /* border: 2px solid white; */
}

.boxes {
    color: white;
    padding: 23px;
    height: 60%;
    border-radius: 15px;
    background-color: rgba(41, 41, 64, 0.7);
}

.question {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: 8px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 65px;
}

.que {
    color: white;
    /* border: 2px solid white; */
    padding: 24px;
    font-size: 25px;
    font-weight: 500;
    background-color: rgba(66, 64, 64, 0.692);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end 
{
    color: white;
}

.footer input {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 11px 18px;
    padding-right: 500px;
    font-size: 1.125rem;
    border: 1.5px solid gray;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 10;
}

.footer button
{
    padding: 12px;
}